@model LinkedInConnect.Models.LinkedInPreviewViewModel;
@{
    ViewData["Title"] = "Preview";
}

<h2>Preview</h2>
<div id="userPostDiv" style="float:left; width:400px;">
    <textarea id="postTextArea" style=" width:350px;"></textarea>
    <input type="button" value="Preview" onclick="Parse()">
    <input type="button" value="Post" onclick="Post()"/>
</div>
<div id="preview">
    <div id="linkedInPreview" class="linkedInPreview">
        <div id="linkedInPreviewHeader" class="linkedInPreview--header">
            <img id="profilePicImg" class="linkedInPreview-ProfilePic" style="border-radius:50%;width:48px;height:48px;float:left;padding-right:5px;"/>
            <label style="font-weight:600;">@Model.firstName.localized.en_US @Model.lastName.localized.en_US</label><br style="height:0px;"/>
            <label style="color:rgba(0,0,0,.6);font-size:12px; font-weight:400;line-height: 1.33333">Headline </label>
        </div>
        <div id="linkedInPreviewBody" class="linkedInPreview--body">
        </div>
        <div id="ember1283" class="linkedInPreview--footer">
            <span data-control-name="like_toggle" aria-pressed="false" aria-label="Like Ananth FMR’S post" id="ember1284" class="like-button button like feed-shared-social-action-bar__action-btn ember-view">
                <!---->
                <span class="artdeco-button__text">

                    <li-icon aria-hidden="true" type="like-icon" class="like-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M17.51,11L15.36,8a14.81,14.81,0,0,1-2.25-5.29L12.74,1H10.5A2.5,2.5,0,0,0,8,3.5V4.08a9,9,0,0,0,.32,2.39L9,9H4.66A2.61,2.61,0,0,0,2,11.4a2.48,2.48,0,0,0,.39,1.43,2.48,2.48,0,0,0,.69,3.39,2.46,2.46,0,0,0,1.45,2.92,2.47,2.47,0,0,0,0,.36A2.5,2.5,0,0,0,7,22h4.52a8,8,0,0,0,1.94-.24l3-.76H21V11H17.51ZM19,19H16.88l-3.41.82A6,6,0,0,1,12,20H7a0.9,0.9,0,0,1-.9-0.89s0-.07,0-0.14l0.15-1-1-.4a0.9,0.9,0,0,1-.55-0.83,0.93,0.93,0,0,1,0-.22L5,15.57,4.27,15a0.9,0.9,0,0,1-.39-0.74A0.88,0.88,0,0,1,4,13.82l0.46-.72L4,12.38a0.88,0.88,0,0,1-.14-0.51,1,1,0,0,1,1-.87H11.5L10.2,6.3a9,9,0,0,1-.33-2.37V3.38a0.5,0.5,0,0,1,.5-0.5h0.95a17.82,17.82,0,0,0,2.52,6.22L16.6,13H19v6Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>

                    <span aria-hidden="true" class="t-14">Like</span>

                </span>
            </span>
            <span data-control-name="comment" id="ember1286" class="button comment feed-shared-social-action-bar__action-btn social-action-btn ember-view">
                <span class="artdeco-button__text">
                    <li-icon aria-hidden="true" type="speech-bubble-icon" class="feed-shared-social-action-bar-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M18,10H6V9H18v1Zm4-5V22l-5-4H3a1,1,0,0,1-1-1V5A1,1,0,0,1,3,4H21A1,1,0,0,1,22,5ZM20,6H4V16H17.7L20,17.84V6Zm-4,6H8v1h8V12Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon><span aria-hidden="true" class="t-14 ml1">Comment</span>

                </span>
            </span>
            <span data-control-name="reshare" id="ember1288" class="feed-shared-social-action-bar__action-btn feed-shared-social-action-bar__reshare-button reshare-button button reshare social-action-btn ember-view">
                <span class="artdeco-button__text">

                    <li-icon type="share-linkedin-icon" size="large" role="img" aria-label="Share"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M24,12h0a1.18,1.18,0,0,0-.36-0.84L14,2V8H11A10,10,0,0,0,1,18v4H2.87A6.11,6.11,0,0,1,9,16h5v6l9.63-9.14A1.18,1.18,0,0,0,24,12s0,0,0,0h0Zm-8,5.54V14H9a8.15,8.15,0,0,0-6,2.84A8,8,0,0,1,11,10h5V6.48L21.81,12Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>

                    <span aria-hidden="true" class="t-14 ml1 ">Share</span>

                </span>
                <!---->
            </span>
            <!---->
        </div>
    </div>
</div>

